<h1>Bonjour ! Veuillez confirmez votre email !</h1>

<p>
    Cliquez sur le lien ci-dessous pour confirmer votre email: <br><br>
    <a href="{{ signedUrl }}">Confimer mon email</a>.
</p>

<p>
    Cordialement
</p>
