.imgHome{
    width: 100%;
}
.width90Auto{
    width: 90%;
    margin: auto;
}
.width100{
    width: 100%;
}
.photoTrick, .videoTrick{
    height: 250px;
}
.photoTrick img, .videoTrick iframe{
    width: 100%;
    height: 100%;
}
.photoTrickSpotlight img{
    height: 700px;
}
.content figure{
    margin-left: 0;
    margin-right: 0;
}