.imgHome{
    width: 100%;
    min-height: 50vh;
    background-size: cover;
}
.cursor{
    cursor: pointer;
}
.zeroNineRem{
    font-size: 0.9rem;
}
.width90Auto{
    width: 90%;
    margin: auto;
}
.width100{
    width: 100%;
}
.photoTrick, .videoTrick{
    height: 250px;
}
.photoTrick img, .videoTrick iframe{
    width: 100%;
    height: 100%;
}
.photoTrickSpotlight img{
    height: 700px;
}
.content figure{
    margin-left: 0;
    margin-right: 0;
}
.dateContainerFigure{
    display: flex;
    justify-content: center;
}
.commentaires{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.commentaire{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.34);
    width: 86%;
}
.footerCommentaire{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.avatarCom{
    width: 60px;
    border-radius: 50%;
}
#loadMore{
    width: 200px;
    margin-left: 10rem;
}
.loadMoreDiv{
    display: flex;
    width: 92%;
    justify-content: center;
}
.btnComments{
    display: flex;
    justify-content: center;
}
.margin-bot4{
    margin-bottom: 4rem;
}
.updateAndDeleteContainer{
    position: absolute;
    right: 20px;
    margin-top: 1rem;
}
.arrowUpHome{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}
.arrowDownHome{
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 90%;
}
.textDecoNone{
    text-decoration: none;
    color: black;
}
.hrFooter{
    background-color: black;
    height: 1px;
}
.footer{
    padding: 0rem 1.5rem 3rem;
}
#navbar{
    min-height: 6vh;
}
.main{
    min-height: 81vh;
}
.footerContainer{
    min-height: 10vh;
}
.displayNoneFigure{
    display: none;
}
.displayNone{
    display: none;
}

.loginContainer{
    display: flex;
    justify-content: center;
}
.marginLoginContainer{
    margin-top: 6rem;
}
.inputBottomLine {
    outline: 0;
    border-width: 0 0 2px;
}
.formPadding{
    border: 1px solid;
    width: 30%;
}
.deleteComIcon{
    display: flex;
    align-self: end;
    margin: 0.5rem;
    color: red;
}
.photoAccount{
    border-radius: 50%;
    width: 150px;
}
#resetComments{
    display: none;
}
.footerMobile{
    display: none;
}
@media screen and (max-width: 1500px) {
    .arrowDownHome{
        top: 70%;
    }
}
@media screen and (max-width: 1200px) {
    .arrowDownHome{
        top: 50%;
    }
}
@media screen and (max-width: 768px) {
    #navbar{
        display: none;
    }
    .arrowUpHome{
        display: none;
    }
    .arrowDownHome{
        top: 40%;
    }
    .footerContent{
        margin-top: 6rem;
    }
    .footerMobile{
        display: flex;
        justify-content: space-around;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 1rem;
        border-top: 1px solid black;
    }
    .footerDesktop{
        display: none;
    }
}